
.promo--purple{
    background: #9E98DC;
    color: var(--text-black, #1C2A39);
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.promo--pink{
    background: #FF8FE6;
    color: var(--text-black, #1C2A39);
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.promo--big{
    width: 9.3125rem;
    height: 12.75rem;
}
.promo--small{
    width: 8.5625rem;
    height: 17.0625rem;
}