.pive{
    font-size: 5.75rem;  
}
.promo-transform{
    margin-top: -42rem;
    position: relative;
}
.promo-transform--purple{
    margin-left: 75%;
}
.promo-transform--pink{
    display: grid;
    justify-content: flex-end;
}
.categories-transform{
    margin-top: 20rem;
}
.categories-cards-container {
    display: flex;
    justify-content: space-between;
}
.categories-div {
    flex: 1; 
    margin-right: 20px; 
}
.categories-transform {
    margin-top: 20rem;
}
.main{
    display: inline-block;
    justify-content: space-between;
}
.cards-transform{
    margin-left: -934px;
    margin-top: 347px;
}
.load-more{
    display: flex;
    justify-content: center;
}